# Server Configuration
NODE_ENV=development
PORT=3001

# Database
MONGODB_URI=mongodb://localhost:27017/battles2

# External API
RETRIES=5
FETCH_INTERVAL_MS=300000

# CORS
CLIENT_URL=http://localhost:5173